*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}

header{
    background-color: rgb(20, 20, 20);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:gray;
}
nav p{
    margin:5%;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.icons a{
    color: rgb(48, 48, 194);
    margin:5%;
}




.intro{
    background-color: rgb(20, 20, 20);
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 30px;
}

.continut{
    margin-top: 10%;
    height: 100vh;
    background-image: url("aerobic.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center right;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    /* position: relative; */
    /* border: 2px solid red; */
    overflow: hidden;
    display: none;
}


.continut .titlu{
    padding: 10px;
    background-color: black;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}

.continut button{
    margin-top: 10%;
    border-radius: 200px;
    padding: 5px;
    background-color:darkred;
    color: white;
}





main{
    background-color: #eee;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    margin:auto;
    text-align: center;
    padding-bottom: 20px;
    /* margin-top: 10%; */
}
.image{
    display: none;
}

.titles{
    margin-top: 8%;
}
main h1{
    text-transform: uppercase;
    /* margin-top: 10%; */
}

main h2{
    text-transform: uppercase;
    color: red;
    margin-bottom: 10%;
}

.card{
    margin-bottom: 10%;
    width: 90%;
    margin:auto;
    margin-bottom: 5%;
}
.cards{
    font-size: 15px;
}

.box{
    background-image: url("crystal.jpg");
    width: 100%;
}

.box h4{
    font-size: 25px;
    text-transform: uppercase;
}
.box p{
    font-weight: bold;
    font-size: 10px;
}



.coaching{
    background-color: #363636;
    text-align: center;
    color: white;
}

.coaching h1{
    font-size: 30px;
    margin-bottom: 4%;
    padding-top: 30px;
    font-weight:bolder;
    text-transform: uppercase;
}

.coaching p{
    font-size: 20px;
    color: rgb(148, 147, 147);
    margin:auto;
    margin-bottom: 4%;
    display: block;
    width: 90%;
}

.coach h3{
    margin-top:5%;
}


.coach img{
    width: 85%;
    margin-top: 4%;
}
figure{
    position: relative;
    overflow: hidden;
}

 .social{
     position: absolute;
     top: 90%;
     left: 80%;
     width: 5%;
     height: 5%;
     color: white;
     /* display: none; */
 }
 .social i{
     background-color: #131212;
     padding: 5px;
 }

 .social2{
     display: flex;
     flex-direction: column;
     position: absolute;
     top:80%;
     left: 80%;
     width: 5%;
     height: 5%;
     color: white;
     /* background-color: black; */
     transition: opacity .1s;
     transition: transform .4s;
     /* transform: translateY(-45px); */
     opacity: 0;
 }
 .social2 i{
     background-color: black;
     padding: 5px 14px;
     width: 100%;
     display: flex;
     justify-content: center;
 }
 .social2:hover{
     transform: translateY(-45.5px);
     opacity: 1;
 }

 .social2 i:hover{
    color: blueviolet;
}
.social2 a{
    color: white;
    text-decoration: none;
}

 


 footer{
     text-align: center;
     background-color: black;
     color: white;
     padding: 10px 0;
 }

 
@media (min-width:430px) and (max-width:572px){

    .social{
        position: absolute;
        top: 90%;
        left: 80%;
        width: 5%;
        height: 5%;
        color: white;
        /* display: none; */
    }
    .social i{
        background-color: #131212;
        padding: 9px;
    }

    figure img{
        max-width: 450px;
    }

    .social2{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:80%;
        left: 80%;
        width: 5%;
        height: 5%;
        color: white;
        /* background-color: black; */
        transition: opacity .1s;
        transition: transform .4s;
        /* transform: translateY(-45px); */
        opacity: 0;
    }
    .social2 i{
        background-color: black;
        padding: 5px 18px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .social2:hover{
        transform: translateY(-32px);
        opacity: 1;
    }
    .social2 i:hover{
        color: blueviolet;
    }
    .social2 a{
        color: white;
        text-decoration: none;
    }
}



    @media (min-width:573px) and (max-width:719px){

        .social{
            position: absolute;
            top: 90%;
            left: 80%;
            width: 5%;
            height: 5%;
            color: white;
            /* display: none; */
        }
        .social i{
            background-color: #131212;
            padding: 9.5px;
        }
    
        figure img{
            max-width: 520px;
        }


        .social2 i{
            background-color: black;
            padding: 5px 18px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .social2:hover{
            transform: translateY(-22.5px);
            opacity: 1;
        }
        .social2 i:hover{
            color: blueviolet;
        }
        .social2 a{
            color: white;
            text-decoration: none;
        }
    }



@media(min-width:720px) and (max-width:900px){

    .continut{
        margin-top: 10%;
        /* height: 100vh; */
        background-image: url("aerobic.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center right;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 50px; */
        /* position: relative; */
        /* border: 2px solid red; */
        overflow: hidden;
        /* display: none; */
    }
    .intro{
        padding: 0px;
    }

    header{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 0px;
    }

    .icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        margin-top: 0px;
    }
    .image{
        display: none;
    }
 .titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 1fr;
        grid-gap:20px;
        font-size:20px;
        grid-template-areas:
        "titles titles"
        "cards cards";
    }
    .titles{
        grid-area: titles;
    }
    .cards{
        grid-area: cards;
    }
    .box{
        margin-top: 5%;
    }

    .coaches{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .coaches {
        font-size: 20px;
    }
    .coaching{
        padding-bottom: 30px;
    }


    .social{
        position: absolute;
        top: 85%;
        left: 75%;
        width: 5%;
        height: 5%;
        color: white;
        /* display: none; */
    }
    .social i{
        background-color: #131212;
        padding: 8px;
    }


    .social2{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:80%;
        left: 75%;
        width: 5%;
        height: 5%;
        color: white;
        /* background-color: black; */
        transition: opacity .1s;
        transition: transform .4s;
        /* transform: translateY(-45px); */
        opacity: 0;
    }
    .social2 i{
        background-color: black;
        padding: 5px 17px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .social2:hover{
        transform: translateY(-74px);
        opacity: 1;
    }
    .social2 i:hover{
        color: blueviolet;
    }
    .social2 a{
        color: white;
        text-decoration: none;
    }
}




@media (min-width:900px)and (max-width:1278px){
    header{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .continut{
        margin-top: 5%;
        /* height: 100vh; */
        background-image: url("aerobic.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: top right;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 50px; */
        /* position: relative; */
        /* border: 2px solid red; */
        overflow: hidden;
        /* display: none; */
    }
    .intro{
        padding: 0px;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 0px;
    }

    .icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        margin-top: 0px;
    }

    .intro h1{
        margin-top: 5%;
        font-size: 50px;
    }



    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap:20px;
        font-size:20px
    }
    .box{
        margin-top: 5%;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 100px 1fr 1fr 100px;
        grid-template-areas:
        "image titles" 
        "image cards"
        "image cards" 
        "box box";
        font-size: 30px;
        padding-bottom: 0px;
        background-color: white;
    }

    .image{
        grid-area: image;
        display: inline;
    }
    .cards{
        grid-area:cards
    }
    .titles{
        grid-area:titles;
    }
    .box{
        grid-area: box;
    }
    .box{
        width: 100%;
        margin:auto;
        /* padding-bottom:20px; */
        display: block;
        
    }

    .cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 20px;
    }


    
    .coaches{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .coaches {
        font-size: 20px;
    }
    .coaching{
        padding-bottom: 30px;
    }

    .social{
        position: absolute;
        top: 85%;
        left: 75%;
        width: 5%;
        height: 5%;
        color: white;
        /* display: none; */
    }
    .social i{
        background-color: #131212;
        padding: 10px;
    }


    .social2{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:80%;
        left: 75%;
        width: 5%;
        height: 5%;
        color: white;
        /* background-color: black; */
        transition: opacity .1s;
        transition: transform .4s;
        /* transform: translateY(-45px); */
        opacity: 0;
    }
    .social2 i{
        background-color: black;
        padding: 5px 19px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .social2:hover{
        transform: translateY(-67px);
        opacity: 1;
    }
    .social2 i:hover{
        color: blueviolet;
    }
    .social2 a{
        color: white;
        text-decoration: none;
    }
}


@media (min-width:1278px){
    header{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .continut{
        margin-top: 5%;
        /* height: 100vh; */
        background-image: url("aerobic.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: top right;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 50px; */
        /* position: relative; */
        /* border: 2px solid red; */
        overflow: hidden;
        /* display: none; */
    }
    .intro{
        padding: 0px;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 0px;
    }

    .icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        margin-top: 0px;
    }

    .intro h1{
        margin-top: 5%;
        font-size: 50px;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap:10px;
        font-size:20px;
        grid-template-areas: "titles titles"
        "card card"
        "card card";
        background-color: white;
    }
    
    .card i{
        margin-bottom:5%;
    }
    .card h3{
        margin-bottom: 5%;
    }


    .titles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        /* margin: 2%; */
    }
    .titles i{
        margin: 1%;
    }
    .titles h2{
        margin: 1%;
    }
    .titles h1{
        margin: 1%;
    }
    .box{
        margin-top: 5%;
    }

    main{
        margin: auto;
        width: 90%;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-areas:
        "image cards" 
        "image cards"
        "image cards" 
        "box box";
        font-size: 30px;
    }

    .image{
        grid-area: image;
    }
    .cards{
        grid-area:cards
    }
    .titles{
        grid-area:titles;
    }
    .box{
        grid-area: box;
    }
    .box{
        width: 100%;
        margin:auto;
    }
    .image{
        display: inline;
    }

    .card{
        width: 100%;
    }

    
    .coaches{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .coaches {
        font-size: 20px;
    }
    .coaching{
        padding-bottom: 30px;
    }


    .social{
        position: absolute;
        top: 85%;
        left: 75%;
        width: 5%;
        height: 5%;
        color: white;
        /* display: none; */
    }
    .social i{
        background-color: #131212;
        padding: 10px;
    }


    .social2{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:80%;
        left: 75%;
        width: 5%;
        height: 5%;
        color: white;
        /* background-color: black; */
        transition: opacity .3s;
        transition: transform .4s;
        /* transform: translateY(-45px); */
        opacity: 0;
    }
    .social2 a{
        color: white;
        text-decoration: none;
    }
    .social2 i{
        background-color: black;
        padding: 5px 19px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .social2 i:hover{
        color: blueviolet;
    }
    .social2:hover{
        transform: translateY(-62px);
        opacity: 1;
    }
}
